h1{
    text-align: center;
    color: black;
}
.lista{
    margin: 2rem 20rem 5rem 20rem;
    display: flex;
    justify-content: center;

}
.ol2{
    list-style: lower-latin;
}

.tabla{
    display: flex;
    justify-content: center;
}

 caption, tr,th, td{
    border: 1px solid black;
    text-align: center;
}

td img{
    width: 2rem;
    height: 2rem;
}
